.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
  height: 100vh;
  width: 100vw;
  background-color: #fafafa;

  &__container {
    height: 480px;
    width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.2); 
    overflow: hidden;
  }

  
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    
    &-header {
      text-align: center;
      font-size: 38px;
      font-weight: 200;
      margin: 10px 0 30px 0;
      padding: 0px 30px;
      font-family: 'Baloo Paaji 2', cursive;
      // background-color: white;
      // border-radius: 7px;
      line-height: 40px;
    }

    &--logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 450px;
      height: 100%;
      object-fit: contain;
      background-color: rgba(242, 246, 248, 1);
      padding: 20px;

      &-svg {
        width: 310px;
        height: 380px;
        background: transparent url(../../assets/logo.svg) no-repeat; 
      }
    }

    &--login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 350px;
    }

    &-buttons {
      // box-shadow: 1px 0px 72px -29px rgba(168,166,168,0.38);
    }
  }
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  &__logout {
    margin-right: 5px;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
      color: #1890ff;
    }
  }
}

.dashboard-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 35px .5fr .5fr; 
  grid-gap: 30px;
  width: 100%;
  height: 100%;
  margin-top: 20px;

  .widget {
    background-color: white;
    border-radius: 7px;
  }
}

.list-config {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  &__tags {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .ant-tag {
      cursor: pointer;
    }
  }
}

.problems-list {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  padding: 10px;
}

.progress-container {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.modal {
  &__problem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    margin: 10px 0;
    // font-size: 12px;

    &--title {
      display: flex;
      flex-direction: row;
      width: 100%;

      &-label {
        margin-right: 20px;
      }

      &-display {
        font-weight: 600;
      }
    }

    &--difficulty {
      display: flex;
      flex-direction: row;
      width: 100%;

      &-label {
        margin-right: 15px;
      }

      &-display {
        font-weight: 600;
      }
    }
  }

  &__focus {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    
    &-label {
      margin-right: 29px;
    }
  }

  &__stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.attempt {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: left;
  width: 100%;

  &-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: left;
    width: 100%;
    padding: 0 20px;
    font-weight: 500;
  }
}

.progress-container {
  grid-row: 1 / 2;

  .progress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 45px 30px;
    height: 550px;

    &__total {
      height: 170px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    &__breakdown {
      align-self: flex-start;
      width: 90%;
    }

    &__averages {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--header {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 500;
      }
      &--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-gap: 10px;
        width: 170px;
      
      }
    }
  }
}

.ant-progress-text {
  padding: 10px;
}

.ant-list-item {
  padding: 12px 20px !important;

  .ant-list-item-meta {
    margin-bottom: 10px !important;
    
    .ant-list-item-meta-title {
      margin-bottom: 0 !important;
      align-self: center;
    }
  }
}